<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button [routerLink]="['/home']" routerDirection="back" color="medium">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title slot="secondary">Editar actividad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="actividadForm" *ngIf="zagales" (ngSubmit)="editRecord()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label>Nombre</ion-label>
                </ion-col>
                <ion-col>
                    <ion-input type="text" placeholder="..." formControlName="name" value="{{zagales.name}}">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Fecha</ion-label>
                </ion-col>              
                <ion-col>
                    <ion-input type="date" placeholder="..." formControlName="date" value="{{zagales.date}}">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Portada</ion-label>
                </ion-col>
                <ion-col>
                    <ion-input type="url" placeholder="http://****" formControlName="cover" value="{{zagales.cover}}">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Descripcion</ion-label>
                </ion-col>
                <ion-col>
                    <ion-textarea type="text" placeholder="..." formControlName="description" value="{{zagales.description}}"></ion-textarea>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-button type="submit" shape="round" size="small" color="primary">
            <ion-label>Guardar</ion-label>
            <ion-icon slot="icon-only" size="small" name="save"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" size="small" [routerLink]="['/home']">
            <ion-label>Cancelar</ion-label>
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>

    </form>
</ion-content>