<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title slot="primary">Recordatorio de actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-list>
          <ion-item *ngFor="let zagal of zagales" (click)="zagalTapped(zagal)">
              <ion-thumbnail slot="start">
                  <img src="{{zagal.cover}}">
              </ion-thumbnail>
              <ion-label>{{zagal.name}}</ion-label>
          </ion-item>
      </ion-list>
  </div>
</ion-content>

<ion-toolbar>
  <img src="/assets/icon/logo.png" height="150" width="200" />
  <ion-title slot="primary">Zagales</ion-title>
</ion-toolbar>